<% provide(:title, 'All users') %>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <%= button_to "delete", admin_path, method: :delete, data: { confirm: "You sure?" } %>
    </tr>
    <br>
<% end %>
