<%#form_for mặc định chạy vào post tức là action create trong microposts%>
<%= form_for @micropost do |f| %>  
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    <%= f.hidden_field :user_id, :value => @micropost.user_id %>
  </div>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
